.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.userInfo {
  width: 400px;
  margin: 1em;
}

.listItems {
  color: #154a5f;
  list-style: none;
  margin: 0.3em;
}

.listDesc {
  color: #000;
  font-size: 1.2em;
}
